# Base de datos MariaDB para Dolibarr
MYSQL_DATABASE=dolibarr
MYSQL_USER=dolibarr
MYSQL_PASSWORD=CAMBIAR_POR_CONTRASENA_SEGURA
MYSQL_ROOT_PASSWORD=CAMBIAR_POR_CONTRASENA_SEGURA_ROOT

# Credenciales del administrador de Dolibarr
DOLI_ADMIN_LOGIN=admin
DOLI_ADMIN_PASSWORD=CAMBIAR_POR_CONTRASENA_SEGURA
